html,
body,
div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    height: 20px;
    vertical-align: baseline;
}

button {
    margin: 0 20px 0 0 !important;
}
